.navbar-nav a:hover {
  color: #FEA07A !important;
  transition: .9s;
}

.nav-link:hover {
  background-color: #131A48;
  transition: .9s;
}

.navbar-brand a:hover {
  background-color: #ADD8E6 !important;
}

.navbar-brand a.active {
  background-color: #ADD8E6 !important;
}

.bg-dark {
  background-color: #ADD8E6 !important;
}

.active {
  background-color: #131A48;
  color: #FEA07A !important;
}